<section class="p-4">
    <app-section-header>About</app-section-header>

    <div class="flex text-lg flex-col gap-12">
        <p>
            Hi, I’m <em>Het Shah</em>, a <strong>passionate programmer</strong> with a deep love for computers since
            childhood.
            My coding journey began in <strong>6th grade</strong>, sparked by a simple yet profound question:
            <em>“How does this work?”</em> while exploring a webpage with my tutor. That moment ignited my curiosity
            about the <em>inner workings of technology</em> and fueled my desire to delve into the field of
            <strong>computer engineering</strong>.
        </p>

        <p>
            What sets me apart is my <strong>curiosity</strong> and drive to understand systems deeply. I
            don’t just learn
            <em>what works</em> but strive to uncover <em>how and why</em> it works. I enjoy writing <strong>clean,
                optimized code</strong>
            and continuously exploring the <em>mechanics</em> behind every topic I study.
        </p>

        <p>
            Beyond coding, I’ve been playing guitar for <strong>two years</strong> and have a <em>deep appreciation
                for
                music</em>.
            I’m constantly learning and growing as a musician and even have my own
            <a href="{{this.social.ahnad_instagram}}" target="_blank">
                <strong>band</strong>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
            .
        </p>
    </div>
</section>
<div class="p-10"></div>