<app-basic-details></app-basic-details>
<hr>
<div class="max-w-screen-2xl mx-auto">
    <app-about id="about"></app-about>
</div>
<hr>
<div class="max-w-screen-2xl mx-auto">
    <app-experience id="experience"></app-experience>
</div>
<hr>
<div class="max-w-screen-2xl mx-auto">
    <app-projects id="projects"></app-projects>
</div>
<hr>
<div class="max-w-screen-2xl mx-auto">
    <app-certificates id="certificates"></app-certificates>
</div>
<hr>
<div class="max-w-screen-2xl mx-auto">
    <app-social></app-social>
</div>