<div class="grid py-3 gap-2 text-xl *:rounded-md grid-flow-col">
    <a [href]="this.social.github" type="button" target="_blank"
        class="bg-zinc-100 p-2 flex justify-center items-center gap-2">
        <i class="fab fa-github"></i>
        Github
    </a>
    <a [href]="this.social.linkedin" type="button" target="_blank"
        class="bg-zinc-100 p-2 flex justify-center items-center gap-2">
        <i class="fab fa-linkedin"></i>
        Linkedin
    </a>
    <a [href]="this.social.instagram" type="button" target="_blank"
        class="bg-zinc-100 p-2 flex justify-center items-center gap-2">
        <i class="fab fa-instagram"></i>
        Instagram
    </a>
</div>