<div class="flex flex-wrap-reverse justify-center p-4 gap-x-32 min-h-[90vh]">
    <div class="grid self-center gap-2 p-3">
        <span class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl">Hi,</span>
        <span class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl">
            I am
            <span class="font-semibold">
                Het Shah
            </span>
        </span>
        <span class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-semibold">
            Computer Engineer
        </span>
    </div>

    <div class="flex justify-center flex-col items-center">
        <img class="rounded-full object-cover w-60 sm:w-64 md:w-72 lg:w-80 xl:w-96 aspect-square shadow"
            [src]="this.profile" alt="Young man in formal suit">
        <div>
            <div
                class="flex items-center flex-row justify-center md:justify-start gap-6 text-base sm:text-lg md:text-xl lg:text-2xl py-3 my-3">
                <span>Dedicated</span>|
                <span>Visionary</span>|
                <span>Creative</span>
            </div>
            <!-- <app-social /> -->
        </div>
    </div>

</div>