<div class="p-6 border rounded md:grid-flow-col bg-white grid gap-3 grid-flow-row">
    <div>
        <a [href]="this.experience().company_website" target="_blank">
            <img class="min-w-16 max-w-16 rounded mt-2 aspect-square"
                [src]="'/company_logo/' + this.experience().company_logo" [alt]="this.experience().company_logo">
        </a>
    </div>
    <div class="grid grid-flow-row gap-6">
        <!-- Header Section -->
        <div class="flex flex-col">
            <div class="flex items-center justify-between">
                <h1 class="text-2xl font-bold text-gray-800">{{ this.experience().designation }}</h1>
            </div>
            <div class="text-gray-500 items-center mt-1 flex gap-3 capitalize">
                <span>
                    {{ this.experience().company }}
                </span>
                <i class="fas fa-circle w-1 text-gray-300"></i>
                <span>
                    {{this.experience().type}}
                </span>
            </div>
            <div class="text-gray-500 items-center flex-wrap flex gap-3 capitalize">
                <span class="text-gray-500 mt-1">
                    {{ this.experience().start_date | date: 'MMMM YYYY' }} -
                    @if(this.experience().end_date) {
                    {{ this.experience().end_date | date: 'MMMM YYYY' }}
                    } @else {
                    Present
                    }
                </span>
                <i class="fas fa-circle w-1 text-gray-300"></i>
                <span>{{this.finalWorkedString(this.experience().start_date, this.experience().end_date)}}</span>
            </div>
            <div class="text-gray-500 items-center flex gap-3 capitalize">
                <span class="text-gray-500 mt-1">
                    {{this.experience().location}}
                </span>
                <i class="fas fa-circle w-1 text-gray-300"></i>
                <span>{{this.experience().location_type}}</span>
            </div>
        </div>

        <!-- Description Section -->
        <p class="text-gray-700 leading-relaxed">
            {{ this.experience().description }}
        </p>

        <!-- Skills Section -->
        <div>
            <h2 class="text-lg font-semibold text-gray-800 mb-2">Skills</h2>
            <div class="flex flex-wrap gap-2">
                @for (skill of this.experience().skills; track $index) {
                <span class="bg-gray-100 text-gray-800 px-3 py-1 rounded-full text-sm font-medium">
                    {{ skill }}
                </span>
                }
            </div>
        </div>
        <div class="grid">
            <span class="text-lg font-semibold text-gray-800">Company Website</span>
            <a href="{{ this.experience().company_website }}" target="_blank"
                class="break-words text-blue-600 hover:underline">
                {{ this.experience().company_website }}
                <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
            </a>
        </div>
        <div></div>
    </div>
</div>