<app-base-card>
    <div>
        <h1 class="text-2xl font-bold text-wrap text-gray-800">{{ this.certificate().name }}</h1>
        <span class="text-gray-500 text-lg">{{ this.certificate().issuer }}
        </span>
    </div>
    <div class="grid">
        <span class="text-gray-500">Issued {{ this.certificate().issue_date | date: 'longDate' }}
        </span>
        <span class="text-gray-500">Credential ID {{ this.certificate().credential_id }}
        </span>
    </div>
    <div>
        <h2 class="text-lg font-semibold text-gray-800 mb-2">Skills</h2>
        <div class="flex flex-wrap gap-2">
            @for (skill of this.certificate().skills; track $index) {
            <app-skill-pill>{{skill}}</app-skill-pill>
            }
        </div>
    </div>
    <div class="flex flex-col">
        <span class="text-lg font-semibold text-gray-800">Credential Link</span>
        <a href="{{ this.certificate().credential_url }}" target="_blank"
            class="break-words text-blue-600 hover:underline">
            {{ this.certificate().credential_url.split('https://www.')[1] }}
            <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
        </a>
    </div>
</app-base-card>